/* .texttitle{
    text-align: center;
}

.form{
    border: 1px solid #ddd;
}

.formleft{
    border: 1px solid #ddd;
}

.formright{
    border: 1px solid #ddd;
}

.box-1{
    margin-left: 20px;
    margin-top: 20px;
}

.text1{
    margin-bottom: 40px;
}

.form-group{
    margin-top: 20px;
}

.form-group h4{
    margin-bottom: 20px;
}

button{
    background-color: rgb(8, 13, 85);
    color: white;

} */