@media(max-width:991px){
    .sidebar{
        background-color: rgb(239,247,247);
        backdrop-filter: blur(10px);
    }
    .bg-sale{
        display: none;
    }
}
main{
    background-color: rgb(239,247,247);
}

/* Product-zoom-start */
.card-img-top{
    opacity: 1;
    display: block;
    max-width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.card:hover .card-img-top {
    opacity: 0.3;
}
.card:hover .middle {
    opacity: 1;
}
.card>.middle>.zoom {
    background-color: while;
    color: blue;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 50%;
}
/* Product-zoom-end */

/* Back to top */
#back-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;

  }
  
  #back-top:hover {
    background-color: #2d1c5f;
  }
/* Back to top */

/* Contact */

/* Contact */

/* About */

/* About */

/* Card */

/* Card */

/* Shop */
 .pagination {
    display: flex;
    list-style: none;
    justify-content: right;
  }

  /*
.pagination a {
    text-decoration: none;
    background-color: #fafdff;
    color: #052a4f;
    border: 1px solid #052a4f;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    width: 30px;
    height: 30px;
}
*/



/* Shop */

/* Detail */
#loai
/* Detail */



/* Login - Register -Forgot */
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-bottom: 8px;
}
.offset {  
    width: 500px;
    height: 40px;
    color:  rgb(56, 169, 222);
    border-radius: 999px;
    background-color: rgb(56, 169, 222);
    border: 2px solid transparent;
}
    
.offset:hover{
    border: 2px solid transparent;
    color: rgb(250, 250, 250);
    transform: scale(1.05);
    will-change: transform;
}
.fb {
    background-color: #3B5998;
    color: white;
    margin-bottom: 10px;
    width: 180px;
}

.google {
    background-color: #dd4b39;
    color: white;
    width: 180px;
}
@media screen {
    .offset {
    width: 100%;
    margin-top: 15px;
    }
}
/* Login - Register -Forgot */
.card-body a{
    color: grey;
    display: -webkit-box;
    max-height: 200px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
}

.dropdown-menu li a{
    text-decoration: none;
}
.dropdown-menu li a:hover{
    text-decoration: none;
    color: red;
}

.boxloai h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background-color: #f5f5f5;
}

.boxloai {
    border: 1px solid #f5f5f5;
}

.boxloai a{
    text-decoration: none;
}

.boxloai li span:hover{
    color: black;
}
li {
    list-style: none;
    line-height: 30px;
    color: rgb(109, 106, 106);
}

ul {
    list-style: disc;
}

input {
    opacity: 4;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a span {
    color: rgb(109, 106, 106);
}

.thanhsapxep {
    max-width: 200px;
}

.boxsanpham h3{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

}
h3 a {
    color: black;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
    text-decoration: none;
}
.boxsanpham .gia p{
    color: #999999;
}
.boxsanpham .gia span{
    color: red;
    font-size: 20px;
    font-weight: 600;
}


.boxsanpham img{
    width: 200px;
    height: 200px;
}
.boxsanpham .img{
    text-align: center;
}


.sanpham:hover{
    border: 1px solid #f5f5f5;
    box-shadow: 2px 2px 20px #e8e8e8;
}
/* .sanpham .title,.gia{
    text-align: center;

} */

.input-group input{
    width: 300px;
}
/* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination-item {
    margin: 0 5px;
}

.pagination-link {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-link:hover {
    background-color: #eee;
}

.pagination-item.active .pagination-link {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
/* >>>>>>> parent of a4fdf86 (chitiettin) */

.btn-group a{
    text-decoration: none;
    text-transform: uppercase;    
}
.btn-group span{
    color: black;
}
.nav-link:hover{
    color: blue;
}